<!DOCTYPE html>
<html>
<head>
	<title><%=song.name%></title>
</head>
<body>
	<header>
		<h1>Song Page</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/songs/index">Index Page</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<a href="/songs/<%=song.id%>/edit">Edit Page</a>
		<ul>
			<li>Song: <%=song.name%></li>
			<li>Artist: <a href="/artists/<%=artist.id%>"><%=song.artist%></a></li>
		</ul>
		<form action="/songs/<%=song.id%>?_method=DELETE" method="POST">
			<input type="submit" value="Delete Song">
		</form>
		<img src="<%=song.albumImg%>">
	</main>

</body>
</html>