<!DOCTYPE html>
<html>
<head>
	<title><%=artist.name%></title>
</head>
<body>
	<header>
		<h1>Artist Show Page</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/artists">Artists Index</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<a href="/artists/<%=artist.id%>/edit">Edit Artist</a>
		<ul>
			<li>Name: <%=artist.name%></li>
			<li>Genre: <%=artist.genre%></li>
			<ul>
				<% for (let i = 0; i < songs.length; i++) { -%>
					<li><a href="/songs/<%=songs[i].id%>"><%=songs[i].name%></a></li>
				<% } -%>
			</ul>
		</ul>
		<form action="/artists/<%=artist.id%>?_method=DELETE" method="POST">
			<input type="submit" value="Delete Artist">
		</form>
		<img src="<%=artist.img%>">
	</main>

</body>
</html>